= form_for [:admin, @page], html: { id: "PageForm", class: 'form-horizontal' } do |f|
  - if @page.errors.any?
    .alert.alert-block.fade.in.alert-error
      %h4 エラー
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  %div{class: "control-group #{'error' unless @page.errors[:category_id].blank?}"}
    = f.label 'カテゴリ', class: 'control-label'
    .controls
      = f.collection_select :category_id, @categories, :id, :title,
        { include_blank: 'なし' }

  %div{class: "control-group #{'error' unless @page.errors[:parent_id].blank?}"}
    = f.label '親ページ', class: 'control-label'
    .controls
      = f.collection_select :parent_id, @pages, :id, :title,
        { include_blank: 'なし' }

  %div{class: "control-group #{'error' unless @page.errors[:name].blank?}"}
    = f.label 'ページ名', class: 'control-label'
    .controls
      = f.text_field :name, class: 'input-large'

  %div{class: "control-group #{'error' unless @page.errors[:title].blank?}"}
    = f.label 'タイトル', class: 'control-label'
    .controls
      = f.text_field :title, class: 'input-large'

  %div{class: "control-group #{'error' unless @page.errors[:description].blank?}"}
    = f.label '説明文', class: 'control-label'
    .controls
      = f.text_area :description, class: 'text_field', rows: 2, style: 'width: 80%'

  %div{class: "control-group #{'error' unless @page.errors[:body].blank?}"}
    = f.label '本文', class: 'control-label'
    .controls
      = f.text_area :body, class: 'text_field', rows: 20, style: 'width: 100%'

  %div{class: "control-group #{'error' unless @page.errors[:author_id].blank?}"}
    = f.label '作成者', class: 'control-label'
    .controls
      = f.collection_select :author_id, @users, :id, :real_name

  %div{class: "control-group #{'error' unless @page.errors[:published].blank?}"}
    = f.label '公開する', class: 'control-label'
    .controls
      = f.check_box :published

  %div{class: "control-group #{'error' unless @page.errors[:published_at].blank?}"}
    = f.label '公開日時', class: 'control-label'
    .controls
      = f.datetime_select :published_at, {}, class: 'span2'

  .form-actions
    = f.submit '保存', class: 'btn btn-primary'
    = link_to 'プレビュー', '#', class: 'btn btn-info', id: 'BtnPreview'
    = link_to 'キャンセル', admin_pages_path, class: 'btn'
