.page-header
  %h1 ページ一覧
%table.table.table-striped
  %thead
    %tr
      %th 操作
      %th= sortable_link '重要度', 'priority', params
      %th
        = sortable_link 'URL', 'path', params
        %br
        = sortable_link 'タイトル', 'title', params
      %th= sortable_link '公開', 'published', params
      %th= sortable_link 'カテゴリ', 'category_id', params
      %th= sortable_link '作成者', 'author_id', params
      %th= sortable_link '最終更新日', 'updated_at', params
  %tbody
    - @pages.each do |page|
      %tr
        %td
          = link_to "表示", page.path, class: 'btn btn-mini btn-primary', target: '_blank'
          = link_to "削除", admin_page_path(page),
            method: :delete, data: { confirm: "削除してよろしいですか？" }, class: 'btn btn-mini btn-danger'
          = link_to "編集", edit_admin_page_path(page), class: 'btn btn-mini btn-success'
        %td= page.priority
        %td
          = link_to page.path, edit_admin_page_path(page)
          %br
          = page.title
        %td
          %i{class: "icon-#{page.published ? 'ok' : 'remove'}"}
        %td= page.category ? page.category.name : 'なし'
        %td= page.author.real_name if page.author
        %td= l page.updated_at, format: :short

= paginate @pages

