.page-header
  %h1 ページ一覧
%table.table.table-striped
  %thead
    %tr
      %th 操作
      %th
        URL
        %br
        タイトル
      %th 公開
      %th カテゴリ
      %th 作成者
  %tbody
    - @pages.each do |page|
      %tr
        %td
          = link_to "表示", page.path, class: 'btn btn-mini btn-primary', target: '_blank'
          = link_to "削除", page_path(page),
            method: :delete, data: { confirm: "削除してよろしいですか？" }, class: 'btn btn-mini btn-danger'
          = link_to "編集", edit_page_path(page), class: 'btn btn-mini btn-success'
        %td
          = link_to page.path, edit_page_path(page)
          %br
          = page.title
        %td
          %i{class: "icon-#{page.published ? 'ok' : 'remove'}"}
        %td= page.category ? page.category.name : 'なし'
        %td= page.author.name

