- content_for :title do
  ログイン

- content_for :sidebar do
  %li
    %a{href: root_path}
      %i.icon-home
      公開ページへ

.row.span5
  .page-header
    %h3 高専ベンチャーCMS 管理ページ
    %h2 ログイン

  = form_tag admin_session_path, class: 'form-horizontal' do
    = bootstrap_flash
    .control-group
      = label_tag :name, 'ログイン名', class: 'control-label'
      .controls
        = text_field_tag :name, params[:name], class: 'input-medium'
    .control-group
      = label_tag :password, 'パスワード', class: 'control-label'
      .controls
        = password_field_tag :password, params[:password], class: 'input-medium'
    = submit_tag 'ログイン', class: 'btn btn-primary pull-right'