%tr
  %td
    %i.icon.icon-plus
  %td
    %span
      = activity.owner.real_name if activity.owner
      さんが
    - if model = activity.trackable
      = model.class.model_name.human
      「
      = link_to "#{model.title}", news_path(model)
      」を作成しました。
    - else
      = "作成した#{activity.trackable_type.constantize.model_name.human}は、その後削除されました。"
  %td
    %a.text-muted{data: { toggle: "tooltip" }, title: l(activity.created_at) }
      = time_ago_in_words(activity.created_at) + '前'
