
= icon_link_to '一覧へ戻る', news_index_path, 'icon-th-list icon-white',
  class: 'btn btn-small btn-info'

%h3= @post.title
.row
  .span9
    = sanitize @post.intro
    %br
    = sanitize @post.body

    %hr{style: "border: 1px solid #E5E5E5;"}
    投稿日：
    %span.label= l @post.published_at.to_date, format: :long
    　カテゴリ：
    %span.label.label-info= (@post.category ? @post.category.title : 'なし')

    %ul.pager
      - if p = @post.prev
        %li.previous
          = link_to news_path(p) do
            &larr;前の記事へ
      - if n = @post.next
        %li.next
          = link_to news_path(n) do
            次の記事へ&rarr;
  .span3
    = render partial: 'categories'
