- content_for :title do
  ページ管理

- content_for :sidebar do
  %li.nav-header ページ管理
  %li= icon_link_to "一覧", pages_path, 'icon-list'
  %li= icon_link_to "作成", new_page_path, 'icon-pencil'

  %li.nav-header カテゴリ管理
  %li= icon_link_to "一覧", page_categories_path, 'icon-list'
  %li= icon_link_to "作成", new_page_category_path, 'icon-plus'

- content_for :main do
  = yield

= render template: 'layouts/admin'