- @entry = EventEntry.new unless @entry

<a name="entry_form"></a>

.alert.alert-block.fade.in.alert-success.hide#success_message
  %h4 エントリー完了
  %p
    エントリーを受け付けました。
  %p
    まもなく連絡先メールアドレスに確認メールが届きますので、ご確認ください。
  %p
    エントリーに関してのお問い合わせは、
    = link_to '「お問い合わせフォーム」', contact_path
    までお願いいたします。

= form_for @entry, url: event_entry_path, remote: true,
  html: { class: 'form-horizontal' } do |f|

  %legend エントリーされる方は、以下のフォームを記入してエントリーしてください。
  %p ※個人情報は、エントリー選考や今後のイベントの案内等、適切な範囲内で使用します。

  .alert.alert-block.fade.in.alert-error.hide#error_block
    %h4 エラーがあります
    %ul#errors_ul

  .control-group#name_kanji
    %label.control-label
      名前（漢字）
      %span.label.label-important 必須
    .controls
      = f.text_field :name_kanji, class: 'input-large',
        placeholder: '例）高専 太郎'
      %span#error_msg

  .control-group#name_kana
    %label.control-label
      名前（ひらがな）
      %span.label.label-important 必須
    .controls
      = f.text_field :name_kana, class: 'input-large',
        placeholder: '例）こうせん たろう'

  .control-group#sexial
    %label.control-label
      性別
      %span.label.label-important 必須
    .controls
      %span
        = f.radio_button :sexial, '男性', class: 'input-small'
        男性
      %span
        = f.radio_button :sexial, '女性', class: 'input-small'
        女性

  .control-group#birthday
    %label.control-label
      生年月日
      %span.label.label-important 必須
    .controls
      .input-append
        = select_year nil,
        { start_year: Time.now.year - 30,
          end_year: Time.now.year - 15,
          prefix: 'event_entry',
          field_name: 'birth_year',
          include_blank: '年' },
        class: 'input-small'
        %span.add-on 年

      .input-append
        = select_month nil,
        { prefix: 'event_entry',
          field_name: 'birth_month',
          include_blank: '月',
          use_month_numbers: true },
          class: 'input-small'
        %span.add-on 月

      .input-append
        = select_day nil,
        { prefix: 'event_entry',
          field_name: 'birth_day',
          include_blank: '日' },
          class: 'input-small'
        %span.add-on 日

  .control-group#nct
    %label.control-label
      在籍高専
      %span.label.label-important 必須
    .controls
      = f.select :nct, EventEntry::NCT_NAMES,
        { include_blank: '在籍高専を選択してください' },
        class: 'input-xlarge'


  .control-group#major
    %label.control-label
      所属学科
      %span.label.label-important 必須
    .controls
      = f.text_field :major, class: 'input-xlarge',
        placeholder: '例）電子情報工学科'

  .control-group#grade
    %label.control-label
      学年
      %span.label.label-important 必須
    .controls
      = f.select :grade, EventEntry::GRADES,
        { include_blank: '学年を選択してください' },
        class: 'input-normal'

  .control-group#email
    %label.control-label
      連絡先メールアドレス
      %span.label.label-important 必須
    .controls
      = f.email_field :email, class: 'input-xlarge',
        placeholder: '例）kosen.tarou@kosen-venture.com'

  .control-group#skype
    %label.control-label
      Skype ID
      %span.label.label-important 必須
    .controls
      = f.text_field :skype, class: 'input-medium',
        placeholder: '例）KosenVenture'
      %p.help-block ※Skype面接の際に使用するので、必ずアカウントを用意してください。

  .control-group#twitter
    %label.control-label
      Twitter ID
      %span.label.label-info 任意
    .controls
      .input-prepend
        %span.add-on @
        = f.text_field :twitter, class: 'input-medium',
          placeholder: '例）KosenVenture'

  .control-group#facebook
    %label.control-label
      Facebook URL
      %span.label.label-info 任意
    .controls
      = f.text_field :facebook, class: 'input-xxlarge',
        placeholder: '例）https://www.facebook.com/kosenventure'

  .control-group#github
    %label.control-label
      Github ID
      %span.label.label-info 任意
    .controls
      = f.text_field :github, class: 'input-medium',
        placeholder: '例）KosenVenture'

  .control-group#appeal
    %label.control-label
      応募動機・意気込み
      %span.label.label-important 必須
    .controls
      = f.text_area :appeal, class: 'input-xxlarge', rows: 8,
        placeholder: '自己アピール/意気込み/質問/応募動機など。字数に制限はありません。'

  .control-group#myproduct
    %label.control-label
      Web上にある作品・ブログなど
      %span.label.label-info 任意
    .controls
      = f.text_area :myproduct, class: 'input-xxlarge', rows: 5,
        placeholder: 'Web上にある過去に開発した自分の作品・ブログなどがあれば、記入してください。'

  .control-group#question1
    %label.control-label
      アンケート
      %span.label.label-info 任意
    .controls
      %strong 高専ベンチャーをどの経緯で知りましたか？（複数選択可）
      - EventEntry::QUESTION1.each_with_index do |s, i|
        %label
          = f.check_box :question1, { name: "event_entry[question1][]" }, s, ''
          = s

  .control-group#mail_ok
    %label.control-label
      今後のお知らせ
      %span.label.label-info 任意
    .controls
      %label
        %p
          今後、高専ベンチャーからの案内を差し上げてもよろしいですか？
        = f.check_box :mail_ok, {}, '受け取る', '受け取らない'
        「高専ベンチャー」からのお知らせを受け取る
  .form-actions
    = f.submit 'エントリーする', class: 'btn btn-primary',
      confirm: 'エントリーを送信します。よろしいですか？'
