= form_for @page_category, :html => { :class => 'form-horizontal' } do |f|
  - if @page_category.errors.any?
    .alert.alert-block.fade.in.alert-error
      %h4 エラー
      %ul
        - @page_category.errors.full_messages.each do |msg|
          %li= msg

  %div{class: "control-group #{'error' unless @page_category.errors[:name].blank?}"}
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  %div{class: "control-group #{'error' unless @page_category.errors[:title].blank?}"}
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to 'キャンセル', page_categories_path, :class => 'btn'
