- content_for :title do
  ページカテゴリ一覧

.page-header
  %h1 ページカテゴリ一覧

= link_to new_admin_page_category_path, class: 'btn btn-primary' do
  %li.icon-white.icon-plus
  作成

%table.table.table-striped
  %thead
    %tr
      %th 操作
      %th カテゴリ名
      %th カテゴリ表示名
  %tbody
    - @page_categories.each do |page_category|
      %tr
        %td
          = link_to '削除', admin_page_category_path(page_category),
            method: :delete, data: { confirm: '削除してよろしいですか？' },
            class: 'btn btn-mini btn-danger'
          = link_to '編集', edit_admin_page_category_path(page_category), class: 'btn btn-mini btn-success'
        %td= page_category.name
        %td= page_category.title

= paginate @page_categories