%h1 ファイル管理
%h3= ['/files', params[:path]].compact.join '/'



%table.table.table-hover
  %thead
    %tr
      %th 操作
      %th ファイル名
      %th 種類
      %th サイズ
      %th 最終更新時刻
  %tbody
    %tr
      - if params[:path]
        %td= icon_link_to '上の階層へ', parent_path(params[:path]), ' icon-arrow-up'

    - @files.each do |f|
      %tr
        %td
          = link_to '削除', admin_file_path(f), class: 'btn btn-mini btn-danger', method: :delete, data: { confirm: "削除してよろしいですか？" }
        %td= icon_link_to f[:name], file_path(f), (f[:type] == 'file' ? 'icon-file' : 'icon-folder-close')
        %td= f[:type]
        %td= f[:size]
        %td= l f[:mtime]

.row
  .span6
    %h4 アップロード
    = form_tag [admin_file_uploader_path, params[:path]].compact.join('/'), multipart: true do
      = file_field_tag 'file'
      = submit_tag 'アップロード', class: 'btn btn-primary'
  .span6
    %h4 新規ディレクトリ
    = form_tag [admin_file_uploader_path, params[:path], 'new_dir'].compact.join('/') do
      .input-append
        = text_field_tag 'dir_name', '', placeholder: '新規ディレクトリ名', class: ''
        = submit_tag '作成', class: 'btn btn-primary'