!!! 5
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=1024px initial-scale=1.0")
    %title= content_for?(:title) ? "#{yield(:title)}｜高専ベンチャー CMS" : "高専ベンチャー CMS"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "admin", :media => "all"
    = javascript_include_tag "ckeditor/init"

  %body
    .navbar.navbar-fluid-top.navbar-inverse
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to '高専ベンチャー', root_path, class: 'brand', target: '_blank'
          - if current_admin
            .container.nav-collapse
              %ul.nav
                %li= icon_link_to "ダッシュボード", admin_path, 'icon-white icon-home'
                %li= icon_link_to "ページ管理", admin_pages_path, 'icon-white icon-file'
                %li= icon_link_to "記事管理", admin_blog_posts_path, 'icon-white icon-pencil'
                %li= icon_link_to "ファイル管理", admin_file_uploader_path, 'icon-white icon-folder-close'
                %li= icon_link_to 'ユーザ管理', admin_users_path, 'icon-white icon-user'
                %li= icon_link_to 'サイト管理', admin_site_config_path, 'icon-white icon-globe'
              %ul.nav.pull-right
                %li= icon_link_to 'ログアウト', admin_session_path, 'icon-white icon-off', method: :delete

    .container-fluid
      .row-fluid
        .span2
          .well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header ページ管理
              %li= icon_link_to "一覧", admin_pages_path, 'icon-list'
              %li= icon_link_to "作成", new_admin_page_path, 'icon-pencil'

              %li.nav-header ページカテゴリ管理
              %li= icon_link_to "一覧", admin_page_categories_path, 'icon-list'
              %li= icon_link_to "作成", new_admin_page_category_path, 'icon-plus'

              %li.nav-header 記事管理
              %li= icon_link_to "一覧", admin_blog_posts_path, 'icon-list'
              %li= icon_link_to "作成", new_admin_blog_post_path, 'icon-pencil'

              %li.nav-header 記事カテゴリ管理
              %li= icon_link_to "一覧", admin_blog_categories_path, 'icon-list'
              %li= icon_link_to "作成", new_admin_blog_category_path, 'icon-plus'

              %li.nav-header ファイル管理
              %li= icon_link_to "管理", admin_file_uploader_path, 'icon-folder-close'

              %li.nav-header ユーザ管理
              %li= icon_link_to "一覧", admin_users_path, 'icon-list'
              %li= icon_link_to "登録", new_admin_user_path, 'icon-plus'

              %li.nav-header サイト管理
              %li= icon_link_to "サイト設定", admin_site_config_path, 'icon-cog'

        .span10
          = bootstrap_flash
          = content_for?(:main) ? yield(:main) : yield

      %footer
        %p &copy; Kosen Venture 2013

    = javascript_include_tag "admin_page"
